.form-vales input{
	margin-top: 10px;
}

label{
	margin-top: 4px;
}

.sex{
	margin-top: 5px;
}

.btn-danger{
	cursor: pointer;
}


.alert{
	margin-top: 10px;
	display: none;
}

.clickable {cursor: pointer;}
.hover {text-decoration: underline;}
.odd{ background: #FFC;}
.even{ background: #FF9;}
.active{ width:10px; height:10px; background:#f60; color:white;}
