<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>스프링부트 DB 연동 - 출력</title>

</head>
<body>
	<h1>메인</h1>

	<table class="table table-bordered" style="width: 500px;">
		<thead>
			<th>num</th>
			<th>name</th>
			<th>content</th>
			<th>action</th>
		</thead>
		
		현재 접속한 계정은 <b>{{value}}</b> 입니다.
		<tbody>
		{{#lists}}
		<tr>
			<td>{{listNum}}</td>
			<td><a href="/addform">{{listName}}</a></td>
			<td>내용</td>
			<td><a href="/updateform" style="color: gray; font-size: 0.8em;">수정</a>
				<a href="/delete?listNum={{listNum}}"
				style="color: gray; font-size: 0.8em;">삭제</a> <!-- <button type="submit" class="btn btn-success">수정</button> -->
			</td>
		</tr>
		{{/lists}}
		<hr>
		<form action="/addform">
			<button type="submit" class="btn btn-danger">추가</button>
		</form>
		</tbody>
		
	</table>
		<input type="button" value="로그아웃" onclick="location.href='logout'"><br>

</body>
</html>